section#about.section.complex_page_about(data-scroll-id="about")
	.complex_page_about__container.container 

		.section_block 
			h2.section_block__title О жилом комплексе

		.complex_page_about__content 
			.complex_page_about__block.complex_page_about__block--left 
				.complex_page_about__block_section
					p.complex_page_about__title Описание
					p.complex_page_about__text «Premium Park » – это жилой комплекс, который является первой частью большого проекта «Premium Park». В проекте ЖК планируется строительство 4-х домов разной этажности.В местах общего пользования будут установлены системы видеонаблюдения: входная группа, лобби, въезд и выезд с паркинга, лифтовые холлы и эксплуатируемая кровля. Круглосуточное наблюдение 24/7 по периметру всех домов. На первых этажах домов Central разместятся дизайнерское лобби, места для встречи гостей и зоны отдыха. Мягкие благородные тона, стилистические решения и качественные отделочные материалы создадут камерную обстановку для жителей и гостей жилого комплекса.

				.complex_page_about__buttons 
					button.complex_page_about__btn.btn.btn--filled(data-linked-modal="modal_view", data-modal-form-id="modal_view_complex_page", data-modal-set-inputs=`[{"key":"object","value":"Новостройка"}]`)
						span.btn__text Записаться на просмотр
					a.complex_page_about__btn.btn.btn--outlined(href="project_more_info")
						span.btn__text Подробнее о проекте

			.complex_page_about__block.complex_page_about__block--right
				p.complex_page_about__title.complex_page_about__title--small Данные об объекте

				.complex_page_about__block_wrap.complex_page_about__block_wrap--top
					.complex_page_about__block_line
						.complex_page_about__block_item
							+svg('complex_about_icon_1', 'icon')
							p.complex_page_about__block_text Тип дома
						p.complex_page_about__block_text.complex_page_about__block_text--600 Кирпично-монолитный
					.complex_page_about__block_line
						.complex_page_about__block_item
							+svg('complex_about_icon_2', 'icon')
							p.complex_page_about__block_text Этажей
						p.complex_page_about__block_text.complex_page_about__block_text--600 26
					.complex_page_about__block_line
						.complex_page_about__block_item
							+svg('complex_about_icon_3', 'icon')
							p.complex_page_about__block_text Квартир на этаже
						p.complex_page_about__block_text.complex_page_about__block_text--600 13
					.complex_page_about__block_line
						.complex_page_about__block_item
							+svg('complex_about_icon_4', 'icon')
							p.complex_page_about__block_text Высота потолков
						p.complex_page_about__block_text.complex_page_about__block_text--600 2,8 метра
					.complex_page_about__block_line
						.complex_page_about__block_item
							+svg('complex_about_icon_5', 'icon')
							p.complex_page_about__block_text Машиномест
						p.complex_page_about__block_text.complex_page_about__block_text--600 320
				
				.complex_page_about__block_wrap.complex_page_about__block_wrap--bottom
					.complex_page_about__block_line
						.complex_page_about__block_item
							+svg('complex_about_icon_6', 'icon')
							p.complex_page_about__block_text Детская площадка
						p.complex_page_about__block_text.complex_page_about__block_text--600 Есть
					.complex_page_about__block_line
						.complex_page_about__block_item
							+svg('complex_about_icon_7', 'icon')
							p.complex_page_about__block_text Кладовые
						p.complex_page_about__block_text.complex_page_about__block_text--600 Есть
					.complex_page_about__block_line
						.complex_page_about__block_item
							+svg('complex_about_icon_8', 'icon')
							p.complex_page_about__block_text Коммерческие помещения
						p.complex_page_about__block_text.complex_page_about__block_text--600 Есть
					.complex_page_about__block_line
						.complex_page_about__block_item
							+svg('complex_about_icon_9', 'icon')
							p.complex_page_about__block_text Выход на крышу
						p.complex_page_about__block_text.complex_page_about__block_text--600 Есть
					.complex_page_about__block_line
						.complex_page_about__block_item
							+svg('complex_about_icon_10', 'icon')
							p.complex_page_about__block_text Бассейн
						p.complex_page_about__block_text.complex_page_about__block_text--600 Есть
					.complex_page_about__block_line
						.complex_page_about__block_item
							+svg('complex_about_icon_11', 'icon')
							p.complex_page_about__block_text Тренажерный зал
						p.complex_page_about__block_text.complex_page_about__block_text--600 Есть
					.complex_page_about__block_line
						.complex_page_about__block_item
							+svg('complex_about_icon_12', 'icon')
							p.complex_page_about__block_text Кинотеатр
						p.complex_page_about__block_text.complex_page_about__block_text--600 Есть
