section#location.section.complex_page_location(data-scroll-id="location")
	.complex_page_location__container.container 

		.section_block 
			h2.section_block__title Расположение

		.complex_page_location__content.complex_page_about__content
			#locationMap.complex_page_location__map

			.complex_page_about__block
				.complex_page_about__block_section
					p.complex_page_about__title.complex_page_about__title--small Что находится рядом?
					p.complex_page_about__text Первая очередь Central Park будет расположена в районе улиц Верхняя и Высокая - на сопке Шошина в районе 3-ей Рабочей, с которой открывается потрясающий панорамный вид на Владивосток и Амурский залив.

				.complex_page_about__buttons 
					a.complex_page_location__btn.btn.btn--filled(href="",  target="_blank")
						span.btn__text Показать на Яндекс.Картах