extends _base/_layout
block settings 

	- title = 'О компании — AFLAT';



block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")

		section.section.about
			.about__container.sale_main__container.container 
				.about__breadcrumbs.breadcrumbs
					a.breadcrumbs__link(href="/") Главная
					.breadcrumbs__dot 
					.breadcrumbs__link.is-active О компании

				.sale_main__content.about__content
					.sale_main__img.about__img
						+img(`${assetsPath}/img/about_main_img.jpg`, '', 'image')
					
					.sale_main__info 
						.about__logo
							+imgSvg(`${assetsPath}/img/main_logo_white.svg`, '', 'image')
						.section_block
							h2.section_block__title.section_block__title--white Для жизни, #[br.mobile] путешествий #[br.tablet.mobile] и инвестиций
							p.section_block__text.section_block__text--24.section_block__text--white AFLAT — ваш надёжный друг #[br.mobile] в мире недвижимости


		section.section.about_ceo
			.about_ceo__container.container 
				.about_ceo__content 
					.about_ceo__img
						+img(`${assetsPath}/img/ceo_pic.jpg`, '', 'image')

					.about_ceo__info
						.section_block
							h2.section_block__title.section_block__title--small Мы экономим ваше время и ресурсы
							p.section_block__text.section_block__text--black Где бы вы не находились, мы всегда будем на связи. Вам не нужно за раз тратить несколько часов у нас в офисе, чтобы задать все вопросы и получить тонну информации. Мы за то, чтобы наши встречи были эффективными, поэтому подстраиваемся под клиентов и проводим короткие онлайн-встречи в удобное время.
							p.section_block__text.section_block__text--black Удалённо мы можем решить любые вопросы наших клиентов. Просто скажите, что нужно сделать: купить, продать, арендовать или сдать недвижимость.

						.about_ceo__bottom
							p.about_ceo__caption Директоров Директор Директорович
							p.about_ceo__text Генеральный директор мира
						