extends _base/_layout
block settings 

	- title = 'Карточка новостройки — AFLAT';


block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")

		include _pages/_complex_page/main
		include _pages/_complex_page/about
		include _pages/_complex_page/location
		include _pages/_complex_page/progress
		include _pages/_complex_page/layouts

				