extends _base/_layout
block settings 

	- title = 'Семейная ипотека — AFLAT';

block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")

		section.section.dv_mortgage
			.dv_mortgage__container.sale_main__container.container
				.dv_mortgage__breadcrumbs.breadcrumbs
					a.breadcrumbs__link(href="/") Главная
					.breadcrumbs__dot 
					a.breadcrumbs__link(href="/mortgage") Ипотека
					.breadcrumbs__dot 
					.breadcrumbs__link.is-active Семейная ипотека

				h1.section_block__title Семейная ипотека
				
				.mortgage_program_block.dv_mortgage__card
					.mortgage_program_block__info 
						p.mortgage_program_block__text Теперь льготную семейную ипотеку могут взять не только семьи с ребенком, рожденным после 1 января 2018 года, но и родители двух и более несовершеннолетних детей. При этом нет дополнительных ограничений по возрасту. А материнский капитал можно использовать в качестве частичной оплаты.
						.mortgage_program_block__table 
							.mortgage_program_block__table_cell 
								p.mortgage_program_block__table_caption Макс. размер #[br] кредита, ₽
								p.mortgage_program_block__table_title 6 млн.
							.mortgage_program_block__table_cell 
								p.mortgage_program_block__table_caption Первоначальный #[br] взнос
								p.mortgage_program_block__table_title От 15%
							.mortgage_program_block__table_cell 
								p.mortgage_program_block__table_caption Ставка
								p.mortgage_program_block__table_title От 2%
							.mortgage_program_block__table_cell 
								p.mortgage_program_block__table_caption Срок кредита, #[br] лет
								p.mortgage_program_block__table_title До 20
					.mortgage_program_block__img 
						+img(`${assetsPath}/img/mortgage_program_2.jpg`, '', 'image')

				.dv_mortgage__content 
					h2.section_block__title.section_block__title--small Подробнее об ипотеке

					.dv_mortgage__block
						p.dv_mortgage__text 0,1% с учётом скидки от застройщика в первый год после получения ипотеки. До 12 млн ₽ — для Москвы и области, Санкт-Петербурга и Ленинградской области, а также до 6 млн ₽ — для других регионов #[br] Период действия программы #[br] • До 31 декабря 2023 года — для граждан РФ, где в период с 01.01.2018 до 31.12.2022 родился первый или любой последующий ребёнок. #[br] • До 31 декабря 2027 года — если ребёнок был рождён до 31.12.2022 и получил категорию инвалидности «ребенок-инвалид» после этой даты. #[br] Обеспечение по кредиту #[br] Для готового жилья: #[br] • Залог кредитуемого объекта #[br] Для строящегося жилья: #[br] • Залог прав требования на строящийся объект #[br] Для строительства жилого дома: #[br] • На период строительства — залог иного объекта недвижимости и/или поручительство физических(ого) лиц(а) #[br] • После окончания строительства — залог жилого дома #[br] Страхование #[br] • Залоговое имущество #[br] • Жизнь и здоровье заемщика
						h3.dv_mortgage__title.dv_mortgage__title--margin Требования к заёмщикам
						p.dv_mortgage__text Возраст на момент предоставления кредита #[br] не менее 21 года #[br] Возраст на момент погашения кредита #[br] 75 лет #[br] Стаж работы #[br] не менее 3 месяцев на текущем месте работы #[br] Привлечение созаемщиков #[br] Созаёмщиками по ипотеке могут быть не более 3 физических лиц. Их доход учитывается при расчёте максимальной суммы кредита. #[br] Супруг/супруга титульного созаёмщика является обязательным созаёмщиком вне зависимости от платёжеспособности и возраста.* #[br] Требования к созаёмщиками аналогичны требованиям к заёмщику. #[br] * За исключением случаев наличия действующего брачного договора. #[br] Гражданство #[br] Российская Федерация #[br] Дополнительно к стандартным требованиям: #[br] • Гражданство РФ у супруга/супруги или заёмщика #[br] • Рождение первого или любого следующего ребёнка с гражданством РФ в период с 01.01.2018 до 31.12.2022 или наличие ребёнка с гражданством РФ с инвалидностью #[br] Требование к Созаемщику #[br] • В число созаёмщиков входят: основной заёмщик, супруг/супруга и лица, доход которых учитывается при расчёте кредита. На них требования к детям не распространяется. #[br] • В число созаёмщиков можно включить лицо, не состоящее в браке с основным заёмщиком. Условия: наличие первого или любого следующего ребёнка с гражданством РФ, который рождён в период с 01.01.2018 до 31.12.2022 или ребёнка с инвалидностью с гражданством РФ, который рождён до 31.12.2022. #[br] • Супруг/супруга основного заёмщика не входит в состав созаёмщиков, если в брачном договоре установлен режим раздельной собственности на имущество. #[br] • Остальные требования к созаёмщику аналогичны требованиям к основному заёмщику.

		section.section.general_form.help_form.help_form--mortgage
			.general_form__container.container 
				.services_card.services_card--form.help_form__content
					.help_form__bg
						+imgSvg(`${assetsPath}/img/help_form_img.svg`, '', 'image image--desk')
						+imgSvg(`${assetsPath}/img/help_form_img_mob.svg`, '', 'image image--mob')

					.services_card__top
						h3.services_card__title Хотите узнать #[br.tablet] #[br.mobile]больше?
						p.services_card__text Менеджер свяжется с вами и подберет подходящий вариант #[br.desktop] и условия покупки.

					form.services_card_form.help_form__form(action="/mailer" data-mailer="" data-form-id="know_more_family_mortgage_page_form")
						input(type="hidden", name="form", value="Узнать больше про ипотеку (Страница Семейной ипотеки)")

						.services_card_form__inputs
							
							.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
								input.input_wrapper__input(type="text" name="name" required autocomplete="off")
								label.input_wrapper__label Ваше имя
								.input_wrapper__tooltip(data-input-tooltip="")
							.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
								input.input_wrapper__input(type="tel" name="phone" required autocomplete="off")
								label.input_wrapper__label Номер телефона
								.input_wrapper__tooltip(data-input-tooltip="")
							
						button.services_card_form__btn.btn.btn--filled
							span.btn__text Оставить заявку
						
						p.services_card_form__privacy Нажимая кнопку, вы соглашаетесь с условиями обработки #[br.desktop] персональных данных