extends _base/_layout
block settings 

	- title = 'Ответы на вопросы — AFLAT';

mixin faqBlock(title, text)
	.faq_block(data-dropdown-block="")
		button.faq_block__btn(data-dropdown-btn="")
			span.faq_block__title= title 
			.faq_block__icon 
				+svg('arrow_small', 'icon')
		.faq_block__content 
			p.faq_block__text!= text


block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")

		section.section.faq
			.faq__container.sale_main__container.container(data-tab-wrapper="") 
				.faq__breadcrumbs.breadcrumbs
					a.breadcrumbs__link(href="/") Главная
					.breadcrumbs__dot 
					.breadcrumbs__link.is-active Ответы на вопросы

				h1.section_block__title Ответы на вопросы

				.faq__tabs 
					button.faq__tabs_btn.is-active(data-tab-id='1') Россия
					button.faq__tabs_btn(data-tab-id='2') Таиланд

				.faq__content 
					.faq__inner.is-active(data-tab="1")
						+faqBlock('Что появилось раньше - курица или яйцо?', 'Взгляд на вопрос с точки зрения эволюционной биологии. <br> Яйцо как способ размножения появилось намного раньше кур. Согласно современным взглядам, птицы являются эволюционными «потомками» динозавров, уже размножавшихся яйцами задолго до начала процесса эволюционной трансформации некоторой части динозавров в птиц. В условный исторический момент возникновения класса птиц было снесено яйцо, из которого позднее вылупилась «птица».')
						+faqBlock('Что появилось раньше - курица или яйцо?', 'Взгляд на вопрос с точки зрения эволюционной биологии. <br> Яйцо как способ размножения появилось намного раньше кур. Согласно современным взглядам, птицы являются эволюционными «потомками» динозавров, уже размножавшихся яйцами задолго до начала процесса эволюционной трансформации некоторой части динозавров в птиц. В условный исторический момент возникновения класса птиц было снесено яйцо, из которого позднее вылупилась «птица».')
						+faqBlock('Что появилось раньше - курица или яйцо?', 'Взгляд на вопрос с точки зрения эволюционной биологии. <br> Яйцо как способ размножения появилось намного раньше кур. Согласно современным взглядам, птицы являются эволюционными «потомками» динозавров, уже размножавшихся яйцами задолго до начала процесса эволюционной трансформации некоторой части динозавров в птиц. В условный исторический момент возникновения класса птиц было снесено яйцо, из которого позднее вылупилась «птица».')
						+faqBlock('Что появилось раньше - курица или яйцо?', 'Взгляд на вопрос с точки зрения эволюционной биологии. <br> Яйцо как способ размножения появилось намного раньше кур. Согласно современным взглядам, птицы являются эволюционными «потомками» динозавров, уже размножавшихся яйцами задолго до начала процесса эволюционной трансформации некоторой части динозавров в птиц. В условный исторический момент возникновения класса птиц было снесено яйцо, из которого позднее вылупилась «птица».')
						+faqBlock('Что появилось раньше - курица или яйцо?', 'Взгляд на вопрос с точки зрения эволюционной биологии. <br> Яйцо как способ размножения появилось намного раньше кур. Согласно современным взглядам, птицы являются эволюционными «потомками» динозавров, уже размножавшихся яйцами задолго до начала процесса эволюционной трансформации некоторой части динозавров в птиц. В условный исторический момент возникновения класса птиц было снесено яйцо, из которого позднее вылупилась «птица».')
						+faqBlock('Что появилось раньше - курица или яйцо?', 'Взгляд на вопрос с точки зрения эволюционной биологии. <br> Яйцо как способ размножения появилось намного раньше кур. Согласно современным взглядам, птицы являются эволюционными «потомками» динозавров, уже размножавшихся яйцами задолго до начала процесса эволюционной трансформации некоторой части динозавров в птиц. В условный исторический момент возникновения класса птиц было снесено яйцо, из которого позднее вылупилась «птица».')
				   
					.faq__inner(data-tab="2")
						+faqBlock('Что появилось раньше - курица или яйцо?', 'Взгляд на вопрос с точки зрения эволюционной биологии. <br> Яйцо как способ размножения появилось намного раньше кур. Согласно современным взглядам, птицы являются эволюционными «потомками» динозавров, уже размножавшихся яйцами задолго до начала процесса эволюционной трансформации некоторой части динозавров в птиц. В условный исторический момент возникновения класса птиц было снесено яйцо, из которого позднее вылупилась «птица».')
						+faqBlock('Что появилось раньше - курица или яйцо?', 'Взгляд на вопрос с точки зрения эволюционной биологии. <br> Яйцо как способ размножения появилось намного раньше кур. Согласно современным взглядам, птицы являются эволюционными «потомками» динозавров, уже размножавшихся яйцами задолго до начала процесса эволюционной трансформации некоторой части динозавров в птиц. В условный исторический момент возникновения класса птиц было снесено яйцо, из которого позднее вылупилась «птица».')
						+faqBlock('Что появилось раньше - курица или яйцо?', 'Взгляд на вопрос с точки зрения эволюционной биологии. <br> Яйцо как способ размножения появилось намного раньше кур. Согласно современным взглядам, птицы являются эволюционными «потомками» динозавров, уже размножавшихся яйцами задолго до начала процесса эволюционной трансформации некоторой части динозавров в птиц. В условный исторический момент возникновения класса птиц было снесено яйцо, из которого позднее вылупилась «птица».')
						+faqBlock('Что появилось раньше - курица или яйцо?', 'Взгляд на вопрос с точки зрения эволюционной биологии. <br> Яйцо как способ размножения появилось намного раньше кур. Согласно современным взглядам, птицы являются эволюционными «потомками» динозавров, уже размножавшихся яйцами задолго до начала процесса эволюционной трансформации некоторой части динозавров в птиц. В условный исторический момент возникновения класса птиц было снесено яйцо, из которого позднее вылупилась «птица».')
						+faqBlock('Что появилось раньше - курица или яйцо?', 'Взгляд на вопрос с точки зрения эволюционной биологии. <br> Яйцо как способ размножения появилось намного раньше кур. Согласно современным взглядам, птицы являются эволюционными «потомками» динозавров, уже размножавшихся яйцами задолго до начала процесса эволюционной трансформации некоторой части динозавров в птиц. В условный исторический момент возникновения класса птиц было снесено яйцо, из которого позднее вылупилась «птица».')
						+faqBlock('Что появилось раньше - курица или яйцо?', 'Взгляд на вопрос с точки зрения эволюционной биологии. <br> Яйцо как способ размножения появилось намного раньше кур. Согласно современным взглядам, птицы являются эволюционными «потомками» динозавров, уже размножавшихся яйцами задолго до начала процесса эволюционной трансформации некоторой части динозавров в птиц. В условный исторический момент возникновения класса птиц было снесено яйцо, из которого позднее вылупилась «птица».')


