extends _base/_layout
block settings 

	- title = 'AFLAT — Лучшие квартиры';



block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")
		//- include _partials/_sections/main
	