extends _base/_layout
block settings 

	- title = 'AFLAT — Лучшие квартиры';



block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")
		include _pages/_index_page/home
		include _pages/_index_page/services
		include _pages/_index_page/tops
		include _pages/_index_page/excursions
		include _pages/_index_page/tops_benefits
		include _pages/_index_page/mortgage_index
		include _pages/_index_page/banks
		include _pages/_index_page/offers
	