extends _base/_layout
block settings 

	- title = 'Подробнее о проекте — AFLAT';


block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")

		section.section.project_more_info
			.project_more_info__container.container 
				.project_more_info__breadcrumbs.breadcrumbs
					a.breadcrumbs__link(href="/") Главная
					.breadcrumbs__dot 
					a.breadcrumbs__link(href="/catalog_new") Каталог новостроек
					.breadcrumbs__dot 
					a.breadcrumbs__link(href="/complex_page")  Premium Park Дом №1
					.breadcrumbs__dot 
					.breadcrumbs__link.is-active Подробнее о проекте

				
				h1.section_block__title Подробнее о проекте

				.project_more_info__content
					.project_more_info__inner.project_more_info__inner--desk
						.project_more_info__pagination.swiper-pagination

						.project_more_info__slider.slider.swiper 
							.project_more_info__slider_buttons 
								button.slider__button.slider__button--prev.project_more_info__slider_btn--prev 
									+svg('arrow_small', 'icon')
								button.slider__button.slider__button--next.project_more_info__slider_btn--next 
									+svg('arrow_small', 'icon')
									
							.swiper-wrapper 
								.project_more_info_card.swiper-slide
									.project_more_info_card__top
										.project_more_info_card__icon
											+svg('project_more_icon_1', 'icon')

										h3.project_more_info_card__title О жилом комплексе
									p.project_more_info_card__text В основе 25-этажных домов жилого комплекса лежит монолитно - каркасная технология с утепленным вентилируемым фасадом, стены заполнены красным, используется алюминиевая витражная система, энергоэффективное остекление. #[br] Дома комплекса обладают массой преимуществ: #[br] - свободные планировки квартир #[br] - система «Умный дом»#[br] - уютное лобби #[br] - система видеонаблюдения на этажах и во дворе #[br] При строительстве домов используется только новейшее оборудование, качественные и экологически чистые материалы, современные архитектурные и инженерные решения.
								.project_more_info_card.swiper-slide
									.project_more_info_card__top
										.project_more_info_card__icon
											+svg('project_more_icon_2', 'icon')

										h3.project_more_info_card__title О доме
									p.project_more_info_card__text В основе 25-этажных домов жилого комплекса лежит монолитно - каркасная технология с утепленным вентилируемым фасадом, стены заполнены красным, используется алюминиевая витражная система, энергоэффективное остекление. #[br] Дома комплекса обладают массой преимуществ: #[br] - свободные планировки квартир #[br] - система «Умный дом»#[br] - уютное лобби #[br] - система видеонаблюдения на этажах и во дворе #[br] При строительстве домов используется только новейшее оборудование, качественные и экологически чистые материалы, современные архитектурные и инженерные решения.
								.project_more_info_card.swiper-slide
									.project_more_info_card__top
										.project_more_info_card__icon
											+svg('project_more_icon_3', 'icon')

										h3.project_more_info_card__title Где находится
									p.project_more_info_card__text В основе 25-этажных домов жилого комплекса лежит монолитно - каркасная технология с утепленным вентилируемым фасадом, стены заполнены красным, используется алюминиевая витражная система, энергоэффективное остекление. #[br] Дома комплекса обладают массой преимуществ: #[br] - свободные планировки квартир #[br] - система «Умный дом»#[br] - уютное лобби #[br] - система видеонаблюдения на этажах и во дворе #[br] При строительстве домов используется только новейшее оборудование, качественные и экологически чистые материалы, современные архитектурные и инженерные решения.
								.project_more_info_card.swiper-slide
									.project_more_info_card__top
										.project_more_info_card__icon
											+svg('project_more_icon_4', 'icon')

										h3.project_more_info_card__title Парковка
									p.project_more_info_card__text В основе 25-этажных домов жилого комплекса лежит монолитно - каркасная технология с утепленным вентилируемым фасадом, стены заполнены красным, используется алюминиевая витражная система, энергоэффективное остекление. #[br] Дома комплекса обладают массой преимуществ: #[br] - свободные планировки квартир #[br] - система «Умный дом»#[br] - уютное лобби #[br] - система видеонаблюдения на этажах и во дворе #[br] При строительстве домов используется только новейшее оборудование, качественные и экологически чистые материалы, современные архитектурные и инженерные решения.
								.project_more_info_card.swiper-slide
									.project_more_info_card__top
										.project_more_info_card__icon
											+svg('project_more_icon_5', 'icon')

										h3.project_more_info_card__title Дополнительные зоны
									p.project_more_info_card__text В основе 25-этажных домов жилого комплекса лежит монолитно - каркасная технология с утепленным вентилируемым фасадом, стены заполнены красным, используется алюминиевая витражная система, энергоэффективное остекление. #[br] Дома комплекса обладают массой преимуществ: #[br] - свободные планировки квартир #[br] - система «Умный дом»#[br] - уютное лобби #[br] - система видеонаблюдения на этажах и во дворе #[br] При строительстве домов используется только новейшее оборудование, качественные и экологически чистые материалы, современные архитектурные и инженерные решения.



					.project_more_info__inner.project_more_info__inner--mob
						.project_more_info_card
							.project_more_info_card__top
								.project_more_info_card__icon
									+svg('project_more_icon_1', 'icon')

								h3.project_more_info_card__title О жилом комплексе
							p.project_more_info_card__text В основе 25-этажных домов жилого комплекса лежит монолитно - каркасная технология с утепленным вентилируемым фасадом, стены заполнены красным, используется алюминиевая витражная система, энергоэффективное остекление. #[br] Дома комплекса обладают массой преимуществ: #[br] - свободные планировки квартир #[br] - система «Умный дом»#[br] - уютное лобби #[br] - система видеонаблюдения на этажах и во дворе #[br] При строительстве домов используется только новейшее оборудование, качественные и экологически чистые материалы, современные архитектурные и инженерные решения.
						.project_more_info_card
							.project_more_info_card__top
								.project_more_info_card__icon
									+svg('project_more_icon_2', 'icon')

								h3.project_more_info_card__title О доме
							p.project_more_info_card__text В основе 25-этажных домов жилого комплекса лежит монолитно - каркасная технология с утепленным вентилируемым фасадом, стены заполнены красным, используется алюминиевая витражная система, энергоэффективное остекление. #[br] Дома комплекса обладают массой преимуществ: #[br] - свободные планировки квартир #[br] - система «Умный дом»#[br] - уютное лобби #[br] - система видеонаблюдения на этажах и во дворе #[br] При строительстве домов используется только новейшее оборудование, качественные и экологически чистые материалы, современные архитектурные и инженерные решения.
						.project_more_info_card
							.project_more_info_card__top
								.project_more_info_card__icon
									+svg('project_more_icon_3', 'icon')

								h3.project_more_info_card__title Где находится
							p.project_more_info_card__text В основе 25-этажных домов жилого комплекса лежит монолитно - каркасная технология с утепленным вентилируемым фасадом, стены заполнены красным, используется алюминиевая витражная система, энергоэффективное остекление. #[br] Дома комплекса обладают массой преимуществ: #[br] - свободные планировки квартир #[br] - система «Умный дом»#[br] - уютное лобби #[br] - система видеонаблюдения на этажах и во дворе #[br] При строительстве домов используется только новейшее оборудование, качественные и экологически чистые материалы, современные архитектурные и инженерные решения.
						.project_more_info_card
							.project_more_info_card__top
								.project_more_info_card__icon
									+svg('project_more_icon_4', 'icon')

								h3.project_more_info_card__title Парковка
							p.project_more_info_card__text В основе 25-этажных домов жилого комплекса лежит монолитно - каркасная технология с утепленным вентилируемым фасадом, стены заполнены красным, используется алюминиевая витражная система, энергоэффективное остекление. #[br] Дома комплекса обладают массой преимуществ: #[br] - свободные планировки квартир #[br] - система «Умный дом»#[br] - уютное лобби #[br] - система видеонаблюдения на этажах и во дворе #[br] При строительстве домов используется только новейшее оборудование, качественные и экологически чистые материалы, современные архитектурные и инженерные решения.
						.project_more_info_card
							.project_more_info_card__top
								.project_more_info_card__icon
									+svg('project_more_icon_5', 'icon')

								h3.project_more_info_card__title Дополнительные зоны
							p.project_more_info_card__text В основе 25-этажных домов жилого комплекса лежит монолитно - каркасная технология с утепленным вентилируемым фасадом, стены заполнены красным, используется алюминиевая витражная система, энергоэффективное остекление. #[br] Дома комплекса обладают массой преимуществ: #[br] - свободные планировки квартир #[br] - система «Умный дом»#[br] - уютное лобби #[br] - система видеонаблюдения на этажах и во дворе #[br] При строительстве домов используется только новейшее оборудование, качественные и экологически чистые материалы, современные архитектурные и инженерные решения.
