extends _base/_layout
block settings 

	- title = 'Сдать недвижимость в аренду — AFLAT';

mixin respBlock(icon, title, text)
	.responsibilities_block
		.responsibilities_block__icon
			+svg(icon, 'icon')
		h3.responsibilities_block__title= title
		p.responsibilities_block__text= text

block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")

		section.section.sale_main.rent
			.sale_main__container.container 
				.sale_main__breadcrumbs.breadcrumbs
					a.breadcrumbs__link(href="/") Главная
					.breadcrumbs__dot 
					.breadcrumbs__link.is-active Недвижимость в аренду

				.sale_main__content
					.sale_main__img
						+img(`${assetsPath}/img/rent_main_img.jpg`, '', 'image')
					
					.sale_main__info 
						.section_block
							h2.section_block__title.section_block__title--white Сдать недвижимость #[br.mobile] в аренду
							p.section_block__text.section_block__text--white Поможем найти порядочных постояльцев и быстро сдать вашу квартиру: #[br.desktop] #[br.tablet] посуточно, от месяца до полугода или для долгосрочного проживания.
						
						button.sale_main__info_btn.btn.btn--filled(data-linked-modal="")
							span.btn__text Оставить заявку

		section.section.responsibilities
			.responsibilities__container.container
				.section_block
					h2.section_block__title Возьмем на себя

				.responsibilities__content 
					+respBlock('res_icon_1', 'Оценка и фотосъёмка', 'Проводим профессиональную фотосессию, а также выявляем ваши потребности и пожелания к будущим арендосъёмщикам.')
					+respBlock('res_icon_2', 'Показ объекта', 'Организуем просмотры и договариваемся со всеми потенциальными клиентами о времени посещения, учитывая ваш график и другие обстоятельства.')
					+respBlock('res_icon_3', 'Заключение договора', 'Договор даёт гарантию соблюдения всех обязательств со стороны арендосъёмщика. Если необходимо, осуществляем в дальнейшем доверительное управление объектом.')
					+respBlock('res_icon_4', 'Реклама объекта', 'Выставляем квартиру на рекламных площадках. Если необходимо, даём советы по улучшению эстетического вида жилья.')

							
		section.section.general_form
			.general_form__container.container 
				.services_card.services_card--form
					.services_card__bg 
						+img(`${assetsPath}/img/general_form_bg_1.jpg`, '', 'image')

					.services_card__top
						h3.services_card__title Сдать квартиру быстро, выгодно #[br.tablet] и надежно
						p.services_card__text Вы узнаете, как можно заработать на аренде и, возможно, заходите сдавать и другие объекты недвижимости на постоянной основе. В России или за границей. 
						p.services_card__text Оставьте заявку, и мы проведём с вами онлайн-встречу в любое удобное для вас время, вне зависимости от того, в каком часовом поясе вы сейчас находитесь.

					form.services_card_form(action="/mailer" data-mailer="" data-form-id="rent_page_form")
						input(type="hidden", name="form", value="Помощь в сдаче квартиры (Страница сдачи недвижимости в аренду)")

						.services_card_form__inputs
							//-.services_card_form__span2.select(data-dropdown="", data-dropdown-name="property_type", data-dropdown-placeholder="Тип недвижимости", data-dropdown-readonly="true", data-dropdown-options='[{"key":"Мне нужен одностраничник","value":"Мне нужен одностраничник"},{"key":"Мне нужен полноценный сайт для компании","value":"Мне нужен полноценный сайт для компании"},{"key":"Мне нужен каталог","value":"Мне нужен каталог"},{"key":"Мне нужен интернет-магазин","value":"Мне нужен интернет-магазин"},{"key":"Мне нужен небольшой сайт","value":"Мне нужен небольшой сайт"},{"key":"Мне нужен сайт-визитка","value":"Мне нужен сайт-визитка"},{"key":"Мне нужен микросайт","value":"Мне нужен микросайт"}]')
							.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
								input.input_wrapper__input(type="text" name="name" required autocomplete="off")
								label.input_wrapper__label Имя
								.input_wrapper__tooltip(data-input-tooltip="")
							.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
								input.input_wrapper__input(type="tel" name="phone" required autocomplete="off")
								label.input_wrapper__label Телефон
								.input_wrapper__tooltip(data-input-tooltip="")
							.services_card_form__span2.input_wrapper.input_wrapper--textarea(data-input-wrapper="")
								textarea.input_wrapper__textarea(name="message", placeholder="Описание квартиры")

						button.services_card_form__btn.btn.btn--filled
							span.btn__text Оставить заявку
						
						p.services_card_form__privacy Нажимая кнопку, вы соглашаетесь с условиями обработки #[br.desktop] персональных данных