.modal_order_call.modal_form.modal(data-modal="modal_order_call", action="/mailer", data-mailer="")
	form.modal_form__form(data-form-id="modal_order_call")
		//- input(type="hidden", name="calc", value="")
		input(type="hidden", name="form", value="Заказать звонок")
		button.modal_close.modal_form__close(data-modal-close="")
			+svg('cross', 'icon')
		h3.section_block__title.section_block__title--small Заказать звонок
		p.section_block__text Ответим на интересующие вас вопросы #[br] и поможем сделать правильный выбор!
		
		.modal_form__inputs
			.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
				input.input_wrapper__input(type="text" name="name" required autocomplete="off")
				label.input_wrapper__label Ваше имя
				.input_wrapper__tooltip(data-input-tooltip="")

			.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
				input.input_wrapper__input(type="tel" name="phone" required autocomplete="off")
				label.input_wrapper__label Телефон
				.input_wrapper__tooltip(data-input-tooltip="")

			.span2.input_wrapper.input_wrapper--textarea(data-input-wrapper="")
				textarea.input_wrapper__textarea(name="info", placeholder="Сообщение")

		button.modal_form__btn.btn.btn--filled
			span.btn__text Отправить заявку

		p.services_card_form__privacy Нажимая кнопку, вы соглашаетесь с условиями обработки персональных данных

	.modal_form__img 
		+img(`${assetsPath}/img/moda_form_pic_1.jpg`, '', 'image')
