.modal.modal_gallery(data-modal="modal_gallery")
	button.modal_close.modal_gallery__close(data-modal-close)
		+svg('cross', 'icon')
	//- button.modal_close.modal_gallery__close.modal_gallery__full(data-full-btn)
	//- 	+svg('icon_full', 'icon')
	.swiper.slider_gallery
		.swiper-wrapper

	.complex_page_main_slider__nav.slider__nav.slider_gallery__nav
		.slider_gallery__pagination.slider__pagination
		.slider__buttons
			button.slider__button.slider__button--prev.slider_gallery__prev
				+svg('arrow_small', 'slider_gallery__svg icon')
			button.slider__button.slider__button--next.slider_gallery__next
				+svg('arrow_small', 'slider_gallery__svg icon')

	

		