.modal_mort_program.modal_form.modal(data-modal="modal_mort_program", action="/mailer", data-mailer="")
	form.modal_form__form(data-form-id="modal_mort_program")
		//- input(type="hidden", name="calc", value="")
		input(type="hidden", name="form", value="Об ипотечной программе")
		button.modal_close.modal_form__close(data-modal-close="")
			+svg('cross', 'icon')
		h3.section_block__title.section_block__title--small Ипотека
		p.section_block__text Ответим на интересующие вас вопросы #[br] и поможем сделать правильный выбор!
		
		.modal_form__inputs
			.span2.catalog_filters__select.select(data-dropdown="", data-dropdown-name="bank_programm", data-dropdown-placeholder="Программа", data-dropdown-readonly="true", data-dropdown-options='[{"key":"Дальневосточная","value":"Дальневосточная"},{"key":"Семейная","value":"Семейная"},{"key":"Военная","value":"Военная"},{"key":"Господдержка","value":"Господдержка"}]')

			.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
				input.input_wrapper__input(type="text" name="name" required autocomplete="off")
				label.input_wrapper__label Ваше имя
				.input_wrapper__tooltip(data-input-tooltip="")

			.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
				input.input_wrapper__input(type="tel" name="phone" required autocomplete="off")
				label.input_wrapper__label Телефон
				.input_wrapper__tooltip(data-input-tooltip="")

			.span2.input_wrapper.input_wrapper--textarea(data-input-wrapper="")
				textarea.input_wrapper__textarea(name="info", placeholder="Сообщение")

		button.modal_form__btn.btn.btn--filled
			span.btn__text Отправить заявку

		p.services_card_form__privacy Нажимая кнопку, вы соглашаетесь с условиями обработки персональных данных

	.modal_form__img 
		+img(`${assetsPath}/img/moda_form_pic_3.jpg`, '', 'image')
