.modal_offers.modal.modal_form(data-modal="modal_offers")
	button.modal_close.modal_form__close(data-modal-close="")
		+svg('cross', 'icon')
		
	h3.section_block__title.section_block__title--small Лучшие #[br.mobile] предложения
	p.section_block__text Здесь собраны лучшие презентации по жилым комплексам. #[br] Обновляется каждый месяц.


	.modal_offers__wrap(data-simplebar)
		button.modal_offers__line(data-linked-modal="modal_presentation")
			.modal_offers__left
				.modal_offers__icon
					+svg('modal_offers', 'icon')
				h4.modal_offers__title Топ 10 новостроек для военнослужащих
			.modal_offers__btn
				+svg('download', 'icon')
				.btn_text Скачать
		button.modal_offers__line(data-linked-modal="modal_presentation")
			.modal_offers__left
				.modal_offers__icon
					+svg('modal_offers', 'icon')
				h4.modal_offers__title 5 лучших новостроек для молодых семей
			.modal_offers__btn
				+svg('download', 'icon')
				.btn_text Скачать
		button.modal_offers__line(data-linked-modal="modal_presentation")
			.modal_offers__left
				.modal_offers__icon
					+svg('modal_offers', 'icon')
				h4.modal_offers__title 5 лучших новостроек для молодых семей
			.modal_offers__btn
				+svg('download', 'icon')
				.btn_text Скачать
		button.modal_offers__line(data-linked-modal="modal_presentation")
			.modal_offers__left
				.modal_offers__icon
					+svg('modal_offers', 'icon')
				h4.modal_offers__title Топ 10 новостроек для военнослужащих
			.modal_offers__btn
				+svg('download', 'icon')
				.btn_text Скачать