section.section.offers
	.offers__container.container 

		.section_block 
			h2.section_block__title Предложения

        .offers__content

            .offers_block
                .offers_block__top
                    .offers_block__icon 
                    h3.offers_block__title Купить квартиру
                
                .offers_block__content
                    a.offers_block__link(href="#")
                        span.text 1-комнатные
                        +svg('arrow_small', 'icon')
                    a.offers_block__link(href="#")
                        span.text 2-комнатные
                        +svg('arrow_small', 'icon')
                    a.offers_block__link(href="#")
                        span.text 3-комнатные
                        +svg('arrow_small', 'icon')
                    a.offers_block__link(href="#")
                        span.text Квартиры со свободной планировкой
                        +svg('arrow_small', 'icon')
                    a.offers_block__link(href="#")
                        span.text Квартиры-студии
                        +svg('arrow_small', 'icon')
           
            .offers_block
                .offers_block__top
                    .offers_block__icon 
                    h3.offers_block__title Новостройки
                
                .offers_block__content
                    a.offers_block__link(href="#")
                        span.text Каталог ЖК
                        +svg('arrow_small', 'icon')
                    a.offers_block__link(href="#")
                        span.text Сданные новостройки
                        +svg('arrow_small', 'icon')
                    a.offers_block__link(href="#")
                        span.text Строящиеся новостройки
                        +svg('arrow_small', 'icon')
           
            .offers_block
                .offers_block__top
                    .offers_block__icon 
                    h3.offers_block__title Снять квартиру
                
                .offers_block__content
                    a.offers_block__link(href="#")
                        span.text 1-комнатные
                        +svg('arrow_small', 'icon')
                    a.offers_block__link(href="#")
                        span.text 2-комнатные
                        +svg('arrow_small', 'icon')
                    a.offers_block__link(href="#")
                        span.text 3-комнатные
                        +svg('arrow_small', 'icon')
                    a.offers_block__link(href="#")
                        span.text Квартиры со свободной планировкой
                        +svg('arrow_small', 'icon')
                    a.offers_block__link(href="#")
                        span.text Квартиры-студии
                        +svg('arrow_small', 'icon')
           
            .offers_block
                .offers_block__top
                    .offers_block__icon 
                    h3.offers_block__title Купить дом
                
                .offers_block__content
                    a.offers_block__link(href="#")
                        span.text С гаражом
                        +svg('arrow_small', 'icon')
                    a.offers_block__link(href="#")
                        span.text С бассейном
                        +svg('arrow_small', 'icon')
                    a.offers_block__link(href="#")
                        span.text В коттеджном поселке
                        +svg('arrow_small', 'icon')
                    a.offers_block__link(href="#")
                        span.text На участке ИЖС
                        +svg('arrow_small', 'icon')
                    a.offers_block__link(href="#")
                        span.text С баней
                        +svg('arrow_small', 'icon')