.apartment_new_info {
	//height: fit-content;
    
    border-radius: 16px;
    background: #fff;

    padding: em(28);

    display: flex;
    flex-direction: column;

    @media(max-width: 1124px) {
        padding: em(24);
    }

    &__title {
        font-size: em(24);
        line-height: em(30,24);
        font-weight: 700;
        color: #000;

        @media(max-width: 1124px) {
            font-size: em(20);
            line-height: em(24,20);
        }

        &--white {
            color: #fff;
        }

        &--price {
            padding-top: 1.25rem;

            width: 100%;
            border-top: 1px solid #E5E7E0;

            @media(max-width: 1124px) {
                margin-top: 1rem;
            }
        }
    }

    &__table {
        width: 100%;

        margin-top: em(20);

        padding-bottom: em(20);

        margin-bottom: auto;

        @media(max-width: 1124px) {
            padding-bottom: 1rem;
        }
    }

    &__line {
        width: 100%;

        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        & + & {
            margin-top: .75rem;
        }
    }

    &__text {
        font-size: em(16);
        line-height: em(22,16);
        font-weight: 400;
        color: #000;

        @media(max-width: 1124px) {
            font-size: em(14);
            line-height: 1.25rem;
        }

        &--600 {
            font-weight: 600;

            margin-left: 1rem;
            text-align: right;
        }
    }

    &__btn {
        width: 100%;
        margin-top: 1.75rem;

        @media(max-width: 1124px) {
            margin-top: 1.25rem;
        }
    }
}