.banks_card {
	background: #D9D9D9;
    padding: em(28);
    height: fit-content;
    
    &__top {
        padding-bottom: 1em;
        border-bottom: 1px solid #A6A6A6;
    }

    &__img {
        background: #FFF;

        width: 100%;
        height: em(120);

        margin-bottom: 1em;
    }

    &__title {
        font-weight: 700;
        font-size: em(24);
        line-height: em(30,24);
    }

    &__info {
        margin: em(16) 0 em(28);
    }

    &__line {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        & + & {
            margin-top: .5rem;
        }
    }

    &__text {
        font-size: em(14);
        line-height: 1.25rem;
        font-weight: 400;
        color: #545454;

        &--percent {
            color: #000;
            text-align: right;
        }
    }

    &__btn {
        width: 100%;
    }
}