.banks_card {
	background: #fff;
    padding: em(28);
    height: fit-content;

    border-radius: 16px;

    @media(max-width: 1124px) {
        padding: em(24);
    }
    
    &__top {
        padding-bottom: 1em;
        border-bottom: 1px solid #F4F4F4;
    }

    &__img {
        background: #FFF;

        width: 100%;
        height: em(120);

        margin-bottom: 1em;
    }

    &__title {
        font-weight: 700;
        font-size: em(24);
        line-height: em(30,24);

        @media(max-width: 1124px) {
            font-size: em(20);
            line-height: em(24,20);
        }
    }

    &__info {
        margin: em(16) 0 em(28);

        @media(max-width: 1124px) {
            margin-bottom: em(20);
        }
    }

    &__line {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        & + & {
            margin-top: .5rem;
        }
    }

    &__text {
        font-size: em(14);
        line-height: 1.25rem;
        font-weight: 400;
        color: #838383;

        &--percent {
            color: #000;
            text-align: right;
        }
    }

    &__btn {
        width: 100%;
    }
}