.buy_choice {
	
    &__content {
        margin-top: em(40);

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: em(28);

        @media(max-width: 1124px) {
            margin-top: em(32);

            grid-template-columns: 1fr 1fr;
            gap: em(20);
        }

        @media(max-width: 500px) {
            margin-top: em(28);

            grid-template-columns: 100%;
            gap: em(12);
        }
    }

    &__block {
        border-radius: 8px;
        background: #fff;

        padding: em(16);

        display: flex;
        align-items: center;
    }

    &__block_icon {
        width: 44px;
        height: 44px;

        margin-right: em(12);

        @media(max-width: 1124px) {
            width: 32px;
            height: 32px;
        }
    }

    &__block_text {
        font-size: 1em;
        line-height: em(22,16);
        font-weight: 600;
        color: #000;

        @media(max-width: 1124px) {
            font-size: em(14);
            line-height: 1.25rem;
        }
    }
}