.catalog_filters {
	margin-top: em(40);

    @media(max-width: 1124px) {
        margin-top: em(32);
    }

    @media(max-width: 500px) {
        margin-top: em(28);
    }
    
    &__tabs {
        display: flex;
        flex-wrap: wrap;

        width: 100%;

        @media(max-width: 500px) {
            flex-wrap: nowrap;

            overflow: scroll hidden;

            scrollbar-width: none;
            -webkit-scrollbar-width: none;

            &::-webkit-scrollbar {
            	height: 0px;
            	width: 0px;
            	background: transparent;
            }
        }
    }

    &__tabs_btn {
        font-size: em(14);
        line-height: 1.25rem;
        font-weight: 400;
        color: #000;

        padding: .5rem 1rem;

        background: #fff;
        border-radius: 20px;

        width: fit-content;
        flex: none;

        white-space: none;

        margin-right: .75rem;
        margin-bottom: .75rem;

        transition: background .2s, color .2s;

        @media(max-width: 500px) {
            margin-right: .5rem;
            margin-bottom: 0;
        }

        &--reset {
            display: flex;
            align-items: center;
            color: $c-primary;

            margin-left: auto;

            .icon {
                width: 16px;
                height: 16px;
                fill: $c-primary;
                margin-right: .25rem;
            }
        }

        &.is-active {
            color: #FFF;
            background: $c-primary;
        }
    }

    &__main {
        margin-top: em(16);

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: em(28);

        @media(max-width: 1124px) {
            grid-template-columns: 1fr 1fr;
            gap: em(16) em(20);
        }

        @media(max-width: 500px) {
            grid-template-columns: 100%;
            gap: 1em;
        }
    }

    &__block {

        & + & {

            .catalog_filters_dropdown__content & {
                margin-top: 1rem;
            }
        }
    }

    &__caption {
        font-size: em(14);
        line-height: 1.25rem;
        font-weight: 400;
        color: #838383;

        margin-bottom: .5rem;

        &--count {
            margin-bottom: 0;
            margin-top: 2em;
        }
    }

    &__rooms {
        border-radius: 8px;
        border: 1px solid #E5E7E0;
        background: #FFF;

        display: flex;
        justify-content: stretch;
        overflow: hidden;
    }

    &__rooms_btn {
        font-size: em(16);
        line-height: em(24,16);
        font-weight: 400;
        color: #000;

        padding: .75rem;

        border-bottom: 1px solid #fff;

        flex: 1;

        transition: color .2s, border .2s;

        @media(max-width: 1124px) {
            padding: 9px .75rem;
        }

        &.is-active {
            color: $c-primary;
            border-bottom: 1px solid $c-primary;
        }
    }

    &__inputs {
        display: flex;
        align-items: center;

        border-radius: 8px;
        overflow: hidden;

        border: 1px solid #EDEDED;
    }

    &__input {
        overflow: hidden;

        height: em(50);

        .input_wrapper__input {
            border-radius: 0;
            border: none;
        }

        & + & {
            border-left: 1px solid #EDEDED;
        }
    }
}