.catalog {
	
    &__container {
        padding-top: em(210);

        @media(max-width: 1124px) {
            padding-top: em(124);
        }

        @media(max-width: 500px) {
            padding-top: em(80);
        }
    }

    &__content {
        margin-top: em(28);

        width: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: em(28);

        @media(max-width: 1124px) {
            grid-template-columns: 1fr 1fr;
            gap: em(20);
        }

        @media(max-width: 500px) {
            grid-template-columns: 100%;
            gap: em(16);
        }
    }
}