.complex_page_progress {
	
    &__content {
        margin-top: em(40);

        @media(max-width: 1124px) {
            margin-top: em(32);
        }

        @media(max-width: 500px) {
            margin-top: em(28);
        }
    }
}