.excursions {
	
    &__content {
       position: relative;
    }

    &__nav {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        height: calc(em(450) - em(80));

        position: absolute;
        top: em(40);
        right: em(40);

        z-index: 10;

        @media(max-width: 1124px) {
            height: calc(em(350) - em(48));
            top: em(24);
            right: em(24);
        }

        @media(max-width: 500px) {
            height: fit-content;
            width: calc(100% - em(48));
            
            flex-direction: row;
            align-items: center;

            left: em(24);
            top: em(24);
        }
    }

    &__slider {
        height: em(450);
        width: 100%;

        @media(max-width: 1124px) {
            height: em(350);
        }

        @media(max-width: 500px) {
            height: em(600);
        }
    }
}