.footer_block {
	background: #F4F5F2;
    border-radius: 16px;
    
    padding: em(40);

    @media(max-width: 1124px) {
        padding: em(24);
    }

    @media(max-width: 500px) {
        padding: em(20);
    }

    &--1 {
        display: flex;
        flex-direction: column;
    }

    &--2 {
        display: flex;

        @media(max-width: 1124px) {
            display: grid;
            grid-template-columns: 1fr 1fr;

            gap: 0 em(40);
        }

        @media(max-width: 500px) {
            grid-template-columns: 100%;
            gap: em(8);
        }
    }

    &__wrap {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-weight: 700;
        font-size: em(24);
        line-height: em(30,24);

        transition: color .2s;

        margin-bottom: 1rem;

        @media(max-width: 1124px) {
            font-size: em(20);
            line-height: em(24,20);
        }

        &:hover {
            color: $c-hover;
        }
    }

    &__text {
        font-weight: 600;
        font-size: em(16);
        line-height: em(22,16);

        transition: color .2s;

        @media(max-width: 1124px) {
            font-size: em(14);
            line-height: 1.25rem;
        }

        &:hover {
            color: $c-hover;
        }

        & + & {
            margin-top: .5rem;
        }
    }

    &__socials {
        margin-top: em(60);

        display: flex;
        align-items: center;

        @media(max-width: 1124px) {
            margin-top: auto;
        }

        @media(max-width: 500px) {
            margin-top: em(40);
        }
    }

    &__socials_link {
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;
        background: $c-primary;

        width: em(32);
        height: em(32);

        transition: background .2s;

        &:hover {
            background: $c-hover;
        }

        .icon {
            width: 1em;
            height: 1em;
            fill: #fff;

            transition: fill .2s;
        }

        & + & {
            margin-left: .75rem;

            @media(max-width: 500px) {
                margin-left: .5rem;
            }
        }
    }

    &__column {
        display: flex;
        flex-direction: column;

        &:first-child {
            margin-right: em(64);

            @media(max-width: 1124px) {
                margin-right: 0;
            }
        }

        &:nth-child(2) {
            margin-right: 5em;

            @media(max-width: 1124px) {
                margin-right: 0;

                grid-row-start: 2;
                grid-row-end: 3;
            }
        }
    }

    &__link {
        font-weight: 600;
        font-size: em(14);
        line-height: em(20,14);

        transition: color .2s;

        &:hover {
            color: $c-hover;
        }

        &--nohover:hover {
            color: #000;
        }

        &--grey {
            font-weight: 400;
            color: #4E4E4E;
        }

        & + & {
            margin-top: .5rem;
        }
    }
}