.modal_form {
	position: absolute;

	width: em(932);
	height: fit-content;
	top: 50%;
	left: 50%;
	
	border-radius: 16px;

	overflow: hidden;
	background: white;

	display: grid;
	grid-template-columns: 1fr 1fr;

	align-items: initial;
	justify-content: initial;
	
	transform: translate3d(-50%, calc(-50% + 2em), 0);
	opacity: 0;

	transition: transform .35s, opacity .35s;

	@media(max-width: 1124px) {
		width: em(640);
	}

	@media(max-width: 500px) {
		width: 90vw;

		display: flex;
		flex-direction: column;
	}

	&.modal_success {
		width: em(740);
		height: em(400);
	}

	&.modal_presentation {
		width: em(356);

		display: flex;
		flex-direction: column;
	}

	&.is-active {
		transform:  translate3d(-50%, -50%, 0);
		opacity: 1;
		pointer-events: all;

		.modal_form__inputs.is-active {
			pointer-events: all;
		}
	}

	&.on-request {
		pointer-events: none;
		opacity: .6;
	}


	&__close {
		top: em(28);
		right: em(28);
		z-index: 100;

        width: 28px;
        height: 28px;

		background: #fff;
        border-radius: 8px;
		border: 1px solid #E5E7E0;

        transition: background .2s;

		@media(max-width: 500px) {
			width: 24px;
			height: 24px;
			top: em(14);
			right: em(14);
		}

		.modal_offers & {
			background: #F4F4F4;
			border: none;
		}

        .is-active & {
            pointer-events: all;
        }

		.icon {
			width: 16px;
			height: 16px;
			fill: #000;
		}
	}

	&__form {
		padding: em(28);

		display: flex;
		flex-direction: column;

		width: 100%;		
	}

	&__wrap {
		position: relative;
		width: 100%;
	}

	&__icon {
		width: em(200);
		height: em(200);
		margin-top: em(30);

		background: #F4F4F4;
		border-radius: 50%;

		display: flex;
		align-items: center;
		justify-content: center;

		.image {
			width: em(100);
			height: em(100);
		}
	}

	&__title {
		font-family: $title-font;
		font-weight: 700;
		font-size: em(22);
		line-height: em(32,22);
		color: $c-primary;

		@media(max-width: 500px) {
			font-size: em(18);
			line-height: em(26,18);
		}
	}

	&__text {
		font-family: $text-font;
		font-size: em(16);
		font-weight: 300;
		line-height: em(20,16);
		color: #242424;
		
		margin-top: em(4,16);

		@media(max-width: 500px) {
			font-size: em(12);
			line-height: em(18,12);

			margin-top: em(6,12);
		}
	}

	&__inputs {
		margin-top: em(24);
		width: 100%;

		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1em;

		@media(max-width: 500px) {
			margin-top: em(16);

			grid-template-columns: 100%;
			gap: em(12);
		}

		.span2 {
			grid-column: span 2;

			@media(max-width: 500px) {
				grid-column: span 1;
			}
		}
	}

	&__btn {
		width: 100%;
		margin-top: 1.75rem;

		@media(max-width: 500px) {
			margin-top: em(18,15);

			font-size: em(15);
			height: em(56,15);
		}

		.modal_success & {
			width: fit-content;
			margin-top: auto;
		}
	}

	&__img {
		height: 100%;

		@media(max-width: 500px) {
			display: none;
		}

		.modal_success & {
			height: em(400);
		}

		.image {
			object-fit: cover;
		}
	}
}