.modal_menu {
	position: absolute;
	width: 100%;
	height: 100%;
	right: 0;
	top: 0;

	background: url($assetsPath + '/img/modal_menu_bg.svg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: em(28) 0 em(30);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	opacity: 0;
	pointer-events: none;
	transform: translate3d(5em,0,0);
	transition: transform .5s, opacity .5s;

	@media(max-width: 500px) {
		width: 100%;
		padding: em(20) 0 em(28);
	}

	&.is-active {
		transform:  translate3d(0, 0, 0);
		opacity: 1;
		pointer-events: all;
	}

	&__container {
		height: 100%;
		align-items: center;

		overflow: hidden scroll;

		scrollbar-width: none;
		-webkit-scrollbar-width: none;

		&::-webkit-scrollbar {
			height: 0px;
			width: 0px;
			background: transparent;
		}
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;

		width: 100%;
		background: #fff;
		border-radius: 16px;

		padding: 0 em(20);

		@media(max-width: 500px) {
			border-radius: 12px;

			padding: 0 em(12);
		}
	}

	// &__simplebar {
	// 	width: 100%;
	// 	height: 100%;
	// 	display: flex;
	// 	flex-direction: column;

	// 	.simplebar-content {
	// 		display: flex;
	// 		flex-direction: column;
	// 		width: 100%;
	// 	}
	// }

	&__close {
		width: 16px;
		height: 16px;
		padding: 0;
		background: transparent;
		position: initial;

		.icon {
			fill: $c-primary;
			width: 100%;
			height: 100%;
		}
	}

	&__main {
		width: 100%;

		background-color: #fff;
		border-radius: 16px;

		padding: em(40);

		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: em(40) 0;

		margin-top: em(20);

		@media(max-width: 500px) {
			padding: em(24);
			grid-template-columns: 1fr;
			gap: em(20);
		}
	}

	&__buttons {
		width: 100%;

		display: grid;
		gap: em(20);

		&--top {
			margin-top: em(28);

			grid-template-columns: repeat(3, 1fr);

			@media(max-width: 500px) {
				grid-template-columns: 1fr 1fr;
				gap: em(16);

				margin-top: em(16);
			}
		}

		&--bottom {
			margin-top: em(20);

			grid-template-columns: repeat(4, 1fr);

			margin-bottom: em(40);

			@media(max-width: 500px) {
				grid-template-columns: 1fr 1fr;
				gap: em(16);
			}
		}
	}

	&__btn {
		border: 1px solid #fff;

		@media(max-width: 500px) {

			svg {
				display: none;
			}
		}
	}

	&__itome {
		margin-top: auto;
		width: fit-content;

		.itome {
			width: em(132);
			height: em(28);

			@media(max-width: 500px) {
				margin-bottom: 0;
			}
		}
	}
}