.modal_gallery {
	display: flex;
	align-items: center;
	justify-content: center;
	width: em(740);
	height: em(500);

	// background: #0A0A0A;

	position: absolute;
    top: 50%;
    left: 50%;
	margin: 0 auto;

	transform: translate3d(-50%,-50%,0);

	opacity: 0;

	transition: opacity .2s;

	pointer-events: none;

	@media(max-width: 500px) {
		width: 90vw;
		height: 40vh;
		// margin-top: 50%;
	}

	&.is-active {
		opacity: 1;
		pointer-events: none;
	}

    // &::before {
    //     content: '';
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     background: rgba(0, 0, 0, 0.5);

    //     top: 0;
    //     left: 0;

	// 	@media(max-width: 500px) {
	// 		border-radius: 12px;
	// 	}
    // }

	&__close {
		top: em(28);
		right: em(28);
		z-index: 100;

        width: 28px;
        height: 28px;

		background: #fff;
        border-radius: 8px;
		border: 1px solid #E5E7E0;

        transition: background .2s;

		@media(max-width: 500px) {
			width: 24px;
			height: 24px;
			top: em(14);
			right: em(14);
		}

        .is-active & {
            pointer-events: all;
        }

		.icon {
			width: 16px;
			height: 16px;
			fill: #000;
		}
	}

	&__full {
		right: 124px;

        transition: background .2s;

		@media(max-width: 500px) {
			display: none;
		}

        .is-active & {
            pointer-events: all;
        }

		.icon {
			width: 14px;
			height: 14px;
		}
	}
}
