.mortgage_index_block {
    padding: em(28);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;

    border-radius: 16px;
    overflow: hidden;

    @media(max-width: 1124px) {
        padding: em(24);
    }

    @media(max-width: 500px) {
        height: em(240);
    }

    &--span2 {
        grid-row: span 2;

        @media(max-width: 500px) {
            height: em(400);
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        .image {
            object-fit: cover;
        }
    }

    &__wrap {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__caption {
        font-size: em(24);
        line-height: em(30,24);
        font-weight: 700;
        color: #FFFFFF;
    }

    &__title {
        font-family: $title-font;
        font-size: em(64);
        line-height: em(74,64);
        font-weight: 700;
        text-align: center;
        color: #FFFFFF;

        &--small {
            font-size: em(40);
            line-height: em(50,40);
            text-align: left;
        }
    }

    &__btn {
        width: 44px;
        height: 44px;
        padding: 0;

        border-radius: 8px;
        background: #FFFFFF;

        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;

        margin-left: auto;

        .icon {
            width: 1em;
            height: 1em;
        }
    }
}