.offers {
	
    &__content {
        margin-top: em(40);

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: em(28);

        @media(max-width: 1124px) {
            margin-top: em(32);
            gap: em(20);
        }

        @media(max-width: 500px) {
            margin-top: em(28);
            gap: em(16);

            grid-template-columns: 100%;
        }
    }
}