.preloader {
	position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    transition: opacity .2s;
    opacity: 0;

    .on-loaded & {
        opacity: 1;
    }

    .disabled & {
        pointer-events: none;
        opacity: 0;
    }

    &__wrap {
       
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__logo {
        width: em(390);
        height: 4em;

        margin-bottom: em(40);

        @media(max-width: 500px) {
            width: em(210);
            height: 2.25em;

            margin-bottom: em(10);
        }

    }

    &__load {
        position: relative;
        width: em(390);
        height: 2px;
        background: #EFF1F4;

        @media(max-width: 500px) {
            width: em(210);
            height: 2px;
        }

        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            background: $c-primary;
            top: 0;
            left: 0;
            transform: scale3d(0,1,1);
            transform-origin: left;
            transition: transform 3.5s;
            animation: loading 3.5s .5s forwards;
        }
    }

}


@keyframes loading {

	from {
		transform: scale3d(0, 1, 1);
	}

	to {
		transform: scale3d(1, 1, 1);   
	}
}