.sale_main {
    
    &__container {
        padding-top: em(210);

        @media(max-width: 1124px) {
            padding-top: em(124);
        }

        @media(max-width: 500px) {
            padding-top: em(80);
        }
    }

    &__content {
        position: relative;
    }

    &__img {
        width: 100%;
        height: em(500);

        border-radius: 16px;
        overflow: hidden;

        position: relative;

        @media(max-width: 1124px) {
            height: em(350);
        }

        @media(max-width: 500px) {
            height: em(450);
        }

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: em(300);

            position: absolute;
            left: 0;
            top: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 100%);

            @media(max-width: 1124px) {
                height: em(200);
            }

            @media(max-width: 500px) {
                height: em(300);
            }
        }

        .image {
            object-fit: cover;
        }
    }

    &__info {
        height: 100%;
        display: flex;
        flex-direction: column;

        padding: em(40);

        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        @media(max-width: 1124px) {
            padding: em(24);
        }

        @media(max-width: 500px) {
            width: 100%;
        }
    }

    &__info_btn {
        margin-top: auto;
        max-width: fit-content;

        @media(max-width: 500px) {
            max-width: 100%;
        }
    }
}