.services {
    padding-top: em(80);
    border-radius: 50px 50px 0 0;

    margin-top: -50px;

    position: relative;
    z-index: 5;
    background: #F4F5F2;

    @media(max-width: 1124px) {
        padding-top: em(40);
        border-radius: 40px 40px 0 0;

        margin-top: -40px;
    }

    @media(max-width: 500px) {
        padding-top: em(28);

        border-radius: 20px 20px 0 0;

        margin-top: -20px;
    }
	
    &__content {
        margin-top: em(40);

        width: 100%;

        @media(max-width: 1124px) {
            margin-top: em(32);
        }

        @media(max-width: 500px) {
            margin-top: em(28);
        }
    }

    &__table {
        width: 100%;
        display: grid;
        gap: em(28);

        @media(max-width: 1124px) {
            gap: em(20);
        }

        @media(max-width: 500px) {
            gap: em(16);
        }

        &--1 {
            grid-template-columns: repeat(3, 1fr);

            @media(max-width: 1124px) {
                grid-template-columns: 1fr 1fr;
            }

            @media(max-width: 500px) {
                grid-template-columns: 100%;
            }
        }

        &--2 {
            grid-template-columns: repeat(2, 1fr);
            
            @media(max-width: 500px) {
                grid-template-columns: 100%;
            }
        }

        & + & {
            margin-top: em(28);

            @media(max-width: 1124px) {
                margin-top: em(20);
            }

            @media(max-width: 500px) {
                margin-top: em(16);
            }
        }
    }
}