.slider_gallery {
	position: relative;

	width: 100%;
	height: 100%;
	
	z-index: -2;

    .is-active & {
        pointer-events: all;
		z-index: 2;
    }

	// @media(max-width: 500px) {
	// 	width: 100vw;
	// 	height: 70vh;
	// 	// padding-right: 15vw;
	// 	// padding-left: 5vw;
	// 	border-radius: 0;

	// 	padding: 0;
	// }

	& .swiper-wrapper {
		height: 100%;
	}

	& .swiper-slide {
		display: flex;
		align-items: center;
		justify-content: center;

		pointer-events: none;
		// background: white;	
		
		border-radius: 16px;
		overflow: hidden;

		@media(max-width: 500px) {
			// background: white;
			// pointer-events: all;
		}
	}

	& .swiper-slide img {
		max-width: 100%;
        width: 100%;
		height: 100%;
		object-fit: cover;

		// @media(max-width:500px) {
		// 	display: block;
			
		// 	width: 100%;
		// }
	}

	&__nav {
		z-index: 5;

		.is-active & {
            pointer-events: all;
        }
	}

	// &__pagination {
	// 	display: none;

	// 	@media(max-width: 500px) {
	// 		display: flex;
	// 		align-items: center;

	// 		position: absolute;
	// 		top: em(14,10);
	// 		left: 50%;

	// 		transform: translateX(-50%);

	// 		color: white;
	// 		font-family: $button-font;
	// 		font-size: em(10);
	// 		line-height: em(24,10);
	// 		letter-spacing: -0.005em;
	// 		text-transform: uppercase;
	// 	}
	// }

	

	&__arrow {
		position: relative;

		width: 60px;
		height: 60px;
		border-radius: 100%;

        padding: 0;

        background: #0A0A0A;

        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;

        transition: border .2s, background .2s;


		&.swiper-button-disabled {
			opacity: 1;
			pointer-events: none;

			svg {
				fill: #87909A;
			}
		}


		&:hover {
			background: #232323;

			&::before {
				transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
				opacity: 1;
			}
		}
	}

	&__prev {
		transform: rotate(180deg);

		.slider_gallery__svg {
			left: 1px;
		}
        
	}

	&__next {

		.slider_gallery__svg {
			left: 1px;
		}
	}

	&__svg {
		position: relative;

		width: 34px;
		height: 34px;

		transition: fill .2s;

		fill: white;
	}

	
}


.is-active .slider_gallery .swiper-slide {
	pointer-events: all;
}